@font-face {
  font-family: "anton";
  src: url(../font/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

body {
  /* background-color: red; */
  font-family: "roboto";
  font-size: 16px;
}
article {
  display: flex;
  flex-flow: row wrap;
  width: 1024px;
  margin: auto;
}
article h2 {
  display: none;
}

article section {
  width: 500px;
  height: 500px;
  border-left: 12px solid rgba(0, 0, 0, 0.5);
  margin: 24px;
}
/* article section:nth-child(2n) {
  background-color: aqua;
} */
article section:nth-child(2) {
  background-color: rgb(251, 151, 19);
}

article section:nth-child(3) {
  background-color: rgb(251, 100, 19);
}

article section:nth-child(4) {
  background-color: rgb(19, 250, 174);
}

article section:nth-child(5) {
  background-color: rgb(19, 200, 174);
}

h3 {
  color: white;
  text-transform: uppercase;
  font-family: "anton";
  font-size: 3em;
  letter-spacing: 0.4em;
  text-align: center;
  padding: 32px 0;
}
