@font-face {
  font-family: "anton";
  src: url(../font/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

body {
  /* background-color: red; */
  font-family: "roboto";
  font-size: 18px;
  line-height: 24px;
  background-color: #ffe2b7;
}
h1 {
  font-size: 5em;
  color: white;
  padding: 250px 0 0 24px;
}
h1,
h2 {
  text-transform: uppercase;
  font-family: "anton";
  letter-spacing: 0.2em;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  color: #a79581;
}

h3 {
  color: #a79581;
  text-transform: uppercase;
  font-family: "anton";
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 0.4em;
  text-align: left;
  padding: 48px 0;
}
p {
  max-width: 480px;
}
p,
h4 {
  padding-left: 48px;
  letter-spacing: 0.05em;
}
article {
  display: flex;
  flex-flow: row wrap;
  /* width: 20%; */
  margin: 0 auto;
}
article h2 {
  display: none;
}

article section {
  width: 100%;
  padding: 24px;
}

article section:nth-child(2n + 1) {
  background-color: #a79581;
  color: white;
}

article section:nth-child(2n + 1) h3 {
  color: white;
}

article section:nth-child(2n) {
  background-color: white;
  color: #a79581;
}

article section:nth-child(3) {
  background: url(../img/startup-594090_1920.jpg) no-repeat 0px -20px;
}
.cv-list li {
  padding: 12px 0;
}

#skills li {
  color: white;
  display: inline-block;
  border: 2px solid #a79581;
  padding: 6px;
  margin: 2px;
  border-radius: 20px;
  background-color: #a79581;
}

#competences,
#competences h3,
#interets,
#interets h3 {
  text-align: center;
}
#interets p {
  margin: 0 auto;
}
