@font-face {
  font-family: "anton";
  src: url(../font/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../font/Roboto/Roboto-Regular.ttf);
}

body {
  /* background-color: red; */
  font-family: "roboto";
  font-size: 18px;
  line-height: 24px;
  background-color: #35353f;
}
#nav {
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: center;
}

#nav li {
  padding: 24px 0;
}
#nav li a {
  text-decoration: none;
  color: #ffffff;
  padding: 25px;
}
#nav li a:hover {
  background-color: #35353f;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 24px;
  text-align: center;
  color: white;
}
h2 {
  font-size: 1.5em;
  padding-bottom: 12px;
  text-align: center;
  color: #a79581;
}
h3 {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #a79581;
  padding-bottom: 24px;
}
p {
  max-width: 480px;
}
p,
h4 {
  padding-left: 48px;
  letter-spacing: 0.05em;
}
article {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding-bottom: 50px;
}
article h2 {
  display: none;
}

article section {
  width: 100%;
  padding: 24px;
}

article section:nth-child(2n + 1) {
  /* background-color: rgba(255, 255, 255, 0.301); */
  color: white;
}

article section:nth-child(2n + 1) h3 {
  color: white;
}

article section:nth-child(2n) {
  background-color: white;
  color: #a79581;
}

article section:nth-child(3) {
  background: url(../img/startup-594090_1920.jpg) no-repeat 0px -20px;
  width: 100%;
}
.cv-list li {
  padding: 12px 0;
}

#skills li {
  color: white;
  display: inline-block;
  /* border: 2px solid #35353f; */
  padding: 6px 12px;
  margin: 2px;
  border-radius: 25px;
  background-color: #35353f;
}

#competences,
#competences h3,
#interets,
#interets h3 {
  text-align: center;
}
#interets p {
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
